body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.home-page {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/home-page-div.png');
    background-size: cover, contain;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;

}

.home-navs {
    display: flex;
    align-items: center;
    text-align: left;
    font: normal normal normal 18px/22px Lato;
    letter-spacing: 0px;
    color: #130D63;
    opacity: 1;
    gap: 20px;
}

.home-navs a {
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    font: normal normal normal 18px/22px Lato;
    letter-spacing: 0px;
    color: #130D63;
}

.home-page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: white;
    text-align: left;
    font: normal normal normal 18px/22px Lato;
    letter-spacing: 0px;
    color: #130D63;
    opacity: 1;
    position: absolute;
    top: 94px;
    padding: 48px 144px 38px 150px;
    box-sizing: border-box;
    height: 100px;
}

.home-page-nav img {
    width: 149px;
    height: 73px;
}

.home-details {
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-details img {
    width: 400px;
    height: 400px;
}

.home-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    width: 710px
}

.home-text1 {
    text-align: left;
    font: normal normal bold 60px/72px Lato;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    opacity: 1;
}

.home-text2 {
    text-align: left;
    font: normal normal normal 20px/30px Lato;
    letter-spacing: 0.4px;
    color: #2F2E3D;
    opacity: 1;
}

.home-text3 {
    text-align: left;
    font: normal normal normal 18px/30px Lato;
    letter-spacing: 0.36px;
    color: #E8271D;
    opacity: 1;
}






/* services */
.service-page {
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    background-color: #f8f8f8;
    background-image: url('./assets/home-bubbles.png'), url('./assets/home-bubbles.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    background-size: 300px 300px, 300px 300px;
}


.service-page-head {
    text-align: center;
    font: normal normal bold 60px/72px Lato;
    letter-spacing: 0px;
    color: #130D63;
    opacity: 1;
}

.service-page-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: center; */
    align-items: flex-start;
}

.service-page-img-div {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 500px;
    height: 375px;
    border: 1px solid #707070;
    background: white;
    /* box-sizing: border-box; */
}

.service-page-img {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.service-page-img img {
    width: 80px;
    height: 80px;
}

.service-page-img-head {
    text-align: left;
    font: normal normal 900 30px/30px Lato;
    letter-spacing: 0.6px;
    color: #E8271D;
    opacity: 1;
}

.service-page-img-desc {
    text-align: left;
    font: normal normal bold 24px/30px Lato;
    letter-spacing: 0.48px;
    color: #130D63;
}
.service-page-img-points{
    font: normal normal normal 24px/40px Lato;
letter-spacing: 0.48px;
color: #130D63;
opacity: 1;
}



/* get in touch */
.get-in-touch-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    background-image: url('./assets/home-page-div-1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.get-in-touch-head {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.get-in-touch-head-text {
    text-align: left;
    font: normal normal bold 41px/49px Lato;
    letter-spacing: 0px;
    color: #130D63;
    opacity: 1;
}

.get-in-touch-head-desc {
    text-align: left;
    font: normal normal bold 24px/29px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.get-in-touch-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.get-in-touch-form input {
    width: 300px;
    height: 50px;
    padding: 20px;
    box-sizing: border-box;
}

.get-in-touch-form button {
    width: 200px;
    height: 50px;
    text-align: center;
    font: normal normal bold 24px/29px Lato;
    letter-spacing: 0px;
    color: #130D63;
    opacity: 1;
    background: #FFBD20 0% 0% no-repeat padding-box;
}


/* contact page */
.contact-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px;
    width: 100%;
    box-sizing: border-box;
}

.contact-page-top {
    display: flex;
    justify-content: space-between;
}

.contact-page-top-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-page-top-content img {
    width: 170px;
    height: 70px;
}

.contact-page-top-content-desc {
    text-align: left;
    font: normal normal normal 18px/22px Lato;
    letter-spacing: 0px;
    color: #2F2E3D;
    opacity: 1;
}

.contact-page-top-content-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-page-top-content-head {
    text-align: left;
    font: normal normal bold 24px/29px Lato;
    letter-spacing: 0px;
    color: #130D63;
    opacity: 1;
    height: 70px;
    display: flex;
    align-items: flex-end;
}

.contact-page-top-content-list span {
    font: normal normal normal 18px/32px Lato;
    letter-spacing: 0px;
    color: #2F2E3D;
    opacity: 1;
}

.contact-page-top-content-call-list {
    display: flex;
    align-items: center;

}

.contact-page-top-content-call-list img {
    width: 20px;
    height: 20px;
}

.horizontal-line {
    width: 100%;
    border: 1px solid grey;
}

.contact-page-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
}
